<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>計算アプリ</title>
</head>
<body>
    <h1>計算アプリ</h1>
    <form action="/calc" method="post">
        左項目：<input type="number" name="num1"><br>
        右項目：<input type="number" name="num2"><br>
        演算子：
        <input type="radio" name="op" value="add" checked>+
        <input type="radio" name="op" value="sub">-
        <input type="radio" name="op" value="mult">×
        <input type="radio" name="op" value="div">÷<br>
        <input type="submit" name="計算">
    </form>
    <hr>
    <h1>{{.}}</h1>
</body>
</html>